In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib
import bs4
import re
import copy
import collections as co

import plotly as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import init_notebook_mode
import matplotlib.pyplot as mplt



from wordcloud import WordCloud
from wordcloud import STOPWORDS
from PIL import Image
import requests
from io import BytesIO

In [4]:
df_carac = pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\df_carac.csv')
df_carac

                         Unnamed: 0     Type Netflix Exclusive  Score
0                       Outer Banks  TV Show               Yes    259
1              The Umbrella Academy  TV Show               Yes    231
2                           365 Dni    Movie                No    198
3         Avatar the Last Airbender  TV Show                No    196
4         The Haunting of Bly Manor  TV Show               Yes    177
..                              ...      ...               ...    ...
284                          Moesha  TV Show                No      1
285                      Sugar Rush  TV Show               Yes      1
286                    Sneakerheads  TV Show               Yes      1
287  The American Barbecue Showdown  TV Show               Yes      1
288              Indian Matchmaking  TV Show               Yes      1

[289 rows x 4 columns]

In [6]:
df_carac['Netflix Exclusive'].isin(['Yes']).sum()

174

In [8]:
df_carac['Netflix Exclusive'].isin(['No']).sum()

115

In [75]:
df_carac[df_carac['Netflix Exclusive'] == 'Yes']

,Unnamed: 0,Type,Netflix Exclusive,Score,Above Mean
0,Outer Banks,TV Show,Yes,259,True
1,The Umbrella Academy,TV Show,Yes,231,True
4,The Haunting of Bly Manor,TV Show,Yes,177,True
5,Dead to Me,TV Show,Yes,175,True
6,Ozark,TV Show,Yes,169,True
...,...,...,...,...,...
283,Game On! A Comedy Crossover…,TV Show,Yes,1,False
285,Sugar Rush,TV Show,Yes,1,False
286,Sneakerheads,TV Show,Yes,1,False
287,The American Barbecue Showdown,TV Show,Yes,1,False
288,Indian Matchmaking,TV Show,Yes,1,False

In [11]:
mean_Netflix_Excl = df_carac[df_carac['Netflix Exclusive'] == 'Yes']['Score'].mean()
mean_Netflix_Excl

25.701149425287355

In [12]:
mean_other = df_carac[df_carac['Netflix Exclusive'] == 'No']['Score'].mean()
mean_other

15.504347826086956

In [17]:
mean_all = df_carac['Score'].mean()
mean_all

21.643598615916954

In [74]:
for i in range (df_carac.shape[0]):
    if df_carac['Score'][i] >= mean_all:
        df_carac['Above Mean'][i]=True
    else :
        df_carac['Above Mean'][i]=False

C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
df_carac[df_carac['Netflix Exclusive'] == 'Yes']['Above Mean'].isin([True]).sum()

45

In [61]:
dico={'Netflix Exclusive': [df_carac['Netflix Exclusive'].isin(['Yes']).sum(),
                            df_carac[df_carac['Netflix Exclusive'] == 'Yes']['Above Mean'].isin([True]).sum(),
                            df_carac[df_carac['Netflix Exclusive'] == 'Yes']['Above Mean'].isin([False]).sum()],
     'Other': [df_carac['Netflix Exclusive'].isin(['No']).sum(),
                            df_carac[df_carac['Netflix Exclusive'] == 'No']['Above Mean'].isin([True]).sum(),
                            df_carac[df_carac['Netflix Exclusive'] == 'No']['Above Mean'].isin([False]).sum()]}

df_graph=pd.DataFrame.from_dict(dico,orient='index')
df_graph.columns=['Effectif','Above Mean','Below Mean']
df_graph.reset_index()
df_graph

                   Effectif  Above Mean  Below Mean
Netflix Exclusive       174          45         129
Other                   115          17          98

In [42]:
df_carac

,Unnamed: 0,Type,Netflix Exclusive,Score,Above Mean
0,Outer Banks,TV Show,Yes,259,True
1,The Umbrella Academy,TV Show,Yes,231,True
2,365 Dni,Movie,No,198,True
3,Avatar the Last Airbender,TV Show,No,196,True
4,The Haunting of Bly Manor,TV Show,Yes,177,True
...,...,...,...,...,...
284,Moesha,TV Show,No,1,False
285,Sugar Rush,TV Show,Yes,1,False
286,Sneakerheads,TV Show,Yes,1,False
287,The American Barbecue Showdown,TV Show,Yes,1,False
288,Indian Matchmaking,TV Show,Yes,1,False

In [73]:
fig = px.bar(df_graph, x=df_graph.index, 
             y=['Above Mean','Below Mean'])

fig.update_layout(template = 'presentation',margin=dict(l=80, r=80, t=60, b=30),
                  title = { 'text' : '<b>Succès des Netflix Exclusive</b>', 'x' : 0.5},
                  xaxis_title="Type",
                  yaxis_title="Effectifs",
                  font_family = 'Calibri',title_font_color= 'black',
                  legend_title="Comparaison au score moyen",
                  legend=dict(yanchor="top", y=0.99, xanchor="right", x=0.8),
                  showlegend = True)
fig.show()