# Importation des Package

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib
import bs4
import re
import copy
import collections as co
import plotly
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import numpy as np

### Join score et df_tvshow et df_movie -> très peu de valeurs nn nulles de Score

In [6]:
df_tvshow= pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\df_tvshow.csv',sep=',')
df_movie= pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\df_movie.csv',sep=',')

In [5]:
df_type_score= pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\type_score.csv')
df_type_score.columns=['Title','Type','Score']

                              Title     Type  Score
0                       Outer Banks  TV Show    259
1              The Umbrella Academy  TV Show    231
2                           365 Dni    Movie    198
3         Avatar the Last Airbender  TV Show    196
4         The Haunting of Bly Manor  TV Show    177
..                              ...      ...    ...
284                          Moesha  TV Show      1
285                      Sugar Rush  TV Show      1
286                    Sneakerheads  TV Show      1
287  The American Barbecue Showdown  TV Show      1
288              Indian Matchmaking  TV Show      1

[289 rows x 3 columns]

In [7]:
OGTV_join_score=df_tvshow.set_index('title').join(df_type_score.set_index('Title'))
OGTV_join_score.sort_values('Score',ascending='False') #1969 row
OGTV_join_score['Score'].notna().sum()
gfg_csv_data = OGTV_join_score.to_csv('OGTV_join_score.csv', index = True)

In [8]:
OGM_join_score=df_movie.set_index('title').join(df_type_score.set_index('Title'))
OGM_join_score.sort_values('Score',ascending='False')
OGM_join_score['Score'].notna().sum()
gfg_csv_data = OGM_join_score.to_csv('OGM_join_score.csv', index = True)

### Join score ac AS

In [3]:
AS= pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\All_Streaming_Shows.csv',sep=',')
AS.dtypes

Series Title           object
Year Released           int64
Content Rating         object
IMDB Rating           float64
R Rating                int64
Genre                  object
Description            object
No of Seasons          object
Streaming Platform     object
dtype: object

In [176]:
AS_join_score=AS.set_index('Series Title').join(df_type_score.set_index('Title'))
AS_join_score.sort_values('Score',ascending='False')
AS_join_score['Score'].notna().sum() #116 valeurs non nulles
gfg_csv_data = AS_join_score.to_csv('AS_join_score.csv', index = True)

### Join score / Exclusive ac AS

In [29]:
df_type_NE_score= pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\type_NE_score.csv')
df_type_NE_score.columns=['Title','Type','Netflix Exclusive','Score']
df_type_NE_score['Netflix Exclusive']=df_type_NE_score['Netflix Exclusive'].fillna('No')
df_type_NE_score

                              Title     Type Netflix Exclusive  Score
0                The Queen's Gambit  TV Show               Yes    381
1                       Outer Banks  TV Show               Yes    259
2                Unsolved Mysteries  TV Show               Yes    242
3              The Umbrella Academy  TV Show               Yes    235
4                         Cobra Kai  TV Show               Yes    217
..                              ...      ...               ...    ...
284      How to Train Your Dragon 2    Movie                No      1
285                     On My Block  TV Show               Yes      1
286                      The Office  TV Show                No      1
287  House at the End of the Street    Movie               Yes      1
288                       Community  TV Show                No      1

[289 rows x 4 columns]

In [10]:
AS_N= pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\AS_N.csv')
AS_N

,Unnamed: 0,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
2,5,Dark,2017,16+,8.8,95,"Crime,Drama",A missing child causes four families to help e...,3Seasons,Netflix
3,7,Sherlock,2010,16+,9.1,94,"Action & Adventure,Crime",A modern update finds the famous sleuth and hi...,4Seasons,Netflix
4,14,Better Call Saul,2015,18+,8.7,92,"Comedy,Crime",Six years before Saul Goodman meets Walter Whi...,5Seasons,Netflix
...,...,...,...,...,...,...,...,...,...,...
1422,11520,Ordinary Heroes,2013,NaN,NaN,10,"Documentary,2013",Ordinary Heroes is a 4 x 30'-part documentary ...,1Season,Netflix
1423,11890,Love Cheque Charge,2014,NaN,NaN,-1,"2014,Netflix",Love Cheque Charge has one or more episodes st...,1Season,Netflix
1424,11949,Truth,2012,NaN,NaN,-1,"2012,Netflix",Truth has one or more episodes streaming with ...,1Season,Netflix
1425,12091,Exclusive Edition,2008,NaN,NaN,-1,"2008,Netflix",Young journalists working for a magazine juggl...,1Season,Netflix
1426,12334,The Underwear,2017,NaN,NaN,-1,"2017,Netflix",The Underwear has one or more episodes streami...,1Season,Netflix

In [17]:
AS_N_join_NE_score.dtypes

Unnamed: 0              int64
Year Released           int64
Content Rating         object
IMDB Rating           float64
R Rating                int64
Genre                  object
Description            object
No of Seasons          object
Streaming Platform     object
Type                   object
Netflix Exclusive      object
Score                 float64
dtype: object

In [33]:
AS_N_join_NE_score=AS_N.set_index('Series Title').join(df_type_NE_score.set_index('Title'))
AS_N_join_NE_score.sort_values('Score',ascending='False')
AS_N_join_NE_score['Score'].notna().sum() #73 valeurs non nulles
AS_N_join_NE_score['Netflix Exclusive'].isin(['Yes']).sum()

67

In [32]:
gfg_csv_data = AS_N_join_NE_score.to_csv('AS_N_join_NE_score.csv', index = True)