# Importation des Package

In [327]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib
import bs4
import re
import copy
import collections as co
import plotly
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import numpy as np

ModuleNotFoundError: No module named 'plotly'

# Premiers bails sur la base (Léo)

In [25]:
#cellule Myrtille
df = pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\netflix_titles.csv')
#ça marchait pas et je comprenais pas pk, j'ai vu sur un forum de rajouter un r avant et ça marche

In [26]:
#cellule Léo
#df = pd.read_csv(r'Mets ton chemin')

Téléchargement de la base de données des films et série présent sur Netflix

In [27]:
#from google.colab import drive

#drive.mount('/content/gdrive')

In [28]:
 #df = pd.read_csv("/content/gdrive/My Drive/Python - Netflix/Projet Python 2A/netflix_titles.csv")

In [29]:
df.tail(100)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6134,80176929,TV Show,Abnormal Summit,"Jung-ah Im, Seung-uk Jo","Hyun-moo Jun, Si-kyung Sung, Se-yoon Yoo",South Korea,"August 4, 2017",2017,TV-PG,2 Seasons,"International TV Shows, Korean TV Shows, Stand...","Led by a trio of Korean celebs, a multinationa..."
6135,80176931,TV Show,Chef & My Fridge,NaN,"Seong-joo Kim​, Jung-hwan Ahn",South Korea,"August 4, 2017",2017,TV-PG,2 Seasons,"International TV Shows, Korean TV Shows, Reali...",The best chefs of Korea go head-to-head to cre...
6136,80194367,TV Show,Paranormal Survivor,NaN,NaN,Canada,"August 4, 2017",2016,TV-14,2 Seasons,Docuseries,"In interviews and reenactments, ordinary peopl..."
6137,80117552,TV Show,Ozark,NaN,"Jason Bateman, Sofia Hublitz, Laura Linney, Sk...",United States,"August 31, 2018",2018,TV-MA,2 Seasons,"Crime TV Shows, TV Dramas, TV Thrillers",A financial adviser drags his family from Chic...
6138,80223138,TV Show,The Comedy Lineup,NaN,"Michelle Buteau, Ian Karmel, Taylor Tomlinson,...",United States,"August 31, 2018",2018,TV-MA,2 Seasons,"Stand-Up Comedy & Talk Shows, TV Comedies",A diverse group of up-and-coming comedians per...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

La plupart des variables sont codées comme objet, il faudra recoder certaines en int pour pouvoir faire des opérations.

In [30]:
df.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object


On compte le nombre de valeurs manquantes pour 'date_added' et 'release_year', les deux variables sur lesquelles on peut faire des opérations numériques (pour comparer les séries/films qui ont été créés par Netflix ou juste rachetés)

In [31]:
df[['date_added']].isna().sum()

date_added    11
dtype: int64

In [32]:
df[['release_year']].isna().sum()

release_year    0
dtype: int64

On créé une variable 'year_added' codée en int qui renseigne l'année où le film/série a été ajouté sur Netflix et on remplace les valeurs manquantes par des zéros.

In [33]:
df[['date_added']].iloc[0:6233]

             date_added
0     September 9, 2019
1     September 9, 2016
2     September 8, 2018
3     September 8, 2018
4     September 8, 2017
...                 ...
6228                NaN
6229                NaN
6230                NaN
6231                NaN
6232                NaN

[6233 rows x 1 columns]

In [34]:
regex = r'([0-2][0-9][0-9][0-9])'
df['year_added'] = df['date_added'].str.extract(regex,expand=True)

In [35]:
df['year_added'] = df['year_added'].fillna(0)

In [36]:
df['year_added'] = df['year_added'].astype(str).astype(int)

In [37]:
df.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
year_added       int32
dtype: object

##Création de df1 (colonnes choisies)

On crée une nouvelle base qui ne prend que certaines variables.

In [38]:
df1 = df[['type', 'title','director', 'cast', 'date_added', 'year_added', 'release_year', 'duration', 'listed_in']]

In [39]:
df1.tail(12)

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
6222,TV Show,Weeds,NaN,"Mary-Louise Parker, Hunter Parrish, Alexander ...","April 1, 2014",2014,2012,8 Seasons,"TV Comedies, TV Dramas"
6223,TV Show,Gunslinger Girl,NaN,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",NaN,0,2008,2 Seasons,"Anime Series, Crime TV Shows"
6224,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,NaN,0,2018,5 Seasons,Docuseries
6225,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",NaN,0,2003,11 Seasons,"Classic & Cult TV, TV Comedies"
6226,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",NaN,0,2012,3 Seasons,"International TV Shows, Spanish-Language TV Sh..."
6227,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",NaN,0,2015,2 Seasons,"Kids' TV, TV Comedies"
6228,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,0,2010,2 Seasons,Kids' TV
6229,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",NaN,0,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",NaN,0,2016,4 Seasons,TV Comedies
6231,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,0,2016,60 min,Movies
6232,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",NaN,0,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas"
6233,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",NaN,0,2003,10 Seasons,"Classic & Cult TV, TV Comedies"

On classe la base par ordre décroissant des dates de sortie.

In [40]:
df1 = df1.sort_values('release_year', ascending = False) #probleme si on veut classer selon year_added

In [41]:
df1.head()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
3467,TV Show,Medical Police,NaN,"Erinn Hayes, Rob Huebel, Malin Akerman, Rob Co...","January 10, 2020",2020,2020,1 Season,"Crime TV Shows, TV Action & Adventure, TV Come..."
3249,Movie,All the Freckles in the World,Yibrán Asuad,"Hánssel Casillas, Loreto Peralta, Andrea Sutto...","January 3, 2020",2020,2020,90 min,"Comedies, International Movies, Romantic Movies"
3220,TV Show,Dracula,NaN,"Claes Bang, Dolly Wells, John Heffernan","January 4, 2020",2020,2020,1 Season,"British TV Shows, International TV Shows, TV D..."
3427,Movie,Leslie Jones: Time Machine,"David Benioff, D.B. Weiss",Leslie Jones,"January 14, 2020",2020,2020,66 min,Stand-Up Comedy
3436,TV Show,The Healing Powers of Dude,NaN,"Jace Chapman, Larisa Oleynik, Tom Everett Scot...","January 13, 2020",2020,2020,1 Season,"Kids' TV, TV Comedies, TV Dramas"

In [42]:
df1.tail()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
2023,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,"March 31, 2017",2017,1943,82 min,Documentaries
2022,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,"March 31, 2017",2017,1943,61 min,"Classic Movies, Documentaries"
2013,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell","March 31, 2017",2017,1942,18 min,"Classic Movies, Documentaries"
2011,Movie,Prelude to War,Frank Capra,NaN,"March 31, 2017",2017,1942,52 min,"Classic Movies, Documentaries"
4292,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,"December 30, 2018",2018,1925,1 Season,TV Shows

## Création de df_movie et df_tvshow
 On créé deux bases une avec les séries et une avec les films.

In [43]:
df_tvshow = df1[df1['type'].isin(["TV Show"])]

In [44]:
df_movie = df1[df1['type'].isin(['Movie'])]

reset index ?

In [45]:
df_tvshow.head()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
3467,TV Show,Medical Police,NaN,"Erinn Hayes, Rob Huebel, Malin Akerman, Rob Co...","January 10, 2020",2020,2020,1 Season,"Crime TV Shows, TV Action & Adventure, TV Come..."
3220,TV Show,Dracula,NaN,"Claes Bang, Dolly Wells, John Heffernan","January 4, 2020",2020,2020,1 Season,"British TV Shows, International TV Shows, TV D..."
3436,TV Show,The Healing Powers of Dude,NaN,"Jace Chapman, Larisa Oleynik, Tom Everett Scot...","January 13, 2020",2020,2020,1 Season,"Kids' TV, TV Comedies, TV Dramas"
3189,TV Show,Cheer,NaN,NaN,"January 8, 2020",2020,2020,1 Season,"Docuseries, Reality TV, Teen TV Shows"
3464,TV Show,AJ and the Queen,NaN,"RuPaul Charles, Izzy G., Michael-Leon Wooley, ...","January 10, 2020",2020,2020,1 Season,"TV Comedies, TV Dramas"

In [46]:
df_tvshow.tail()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
5704,TV Show,Star Trek,NaN,"William Shatner, Leonard Nimoy, DeForest Kelle...","October 1, 2017",2017,1968,3 Seasons,"Classic & Cult TV, TV Action & Adventure, TV S..."
5980,TV Show,The Andy Griffith Show,NaN,"Andy Griffith, Ron Howard, Don Knotts, Frances...","July 1, 2017",2017,1967,8 Seasons,"Classic & Cult TV, TV Comedies"
5981,TV Show,The Twilight Zone (Original Series),NaN,Rod Serling,"July 1, 2017",2017,1963,4 Seasons,"Classic & Cult TV, TV Sci-Fi & Fantasy"
4079,TV Show,Pioneers of African-American Cinema,"Oscar Micheaux, Spencer Williams, Richard E. N...",NaN,"February 1, 2017",2017,1946,1 Season,TV Shows
4292,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,"December 30, 2018",2018,1925,1 Season,TV Shows

In [47]:
df_movie.head()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
3249,Movie,All the Freckles in the World,Yibrán Asuad,"Hánssel Casillas, Loreto Peralta, Andrea Sutto...","January 3, 2020",2020,2020,90 min,"Comedies, International Movies, Romantic Movies"
3427,Movie,Leslie Jones: Time Machine,"David Benioff, D.B. Weiss",Leslie Jones,"January 14, 2020",2020,2020,66 min,Stand-Up Comedy
3195,Movie,"Live Twice, Love Once",Maria Ripoll,"Oscar Martínez, Inma Cuesta, Mafalda Carbonell...","January 7, 2020",2020,2020,102 min,"Comedies, Dramas, International Movies"
3180,Movie,Bulletproof 2,Don Michael Paul,"Faizon Love, Kirk Fox, Tony Todd, Pearl Thusi,...","January 9, 2020",2020,2020,97 min,"Action & Adventure, Comedies"
3518,Movie,Ghost Stories,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Janhvi Kapoor, Sobhita Dhulipala, Sukant Goel,...","January 1, 2020",2020,2020,145 min,"Horror Movies, International Movies, Thrillers"

In [48]:
df1[df1['title'].isin(['House of Cards'])]

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
5741,TV Show,House of Cards,NaN,"Kevin Spacey, Robin Wright, Kate Mara, Corey S...","November 2, 2018",2018,2018,6 Seasons,"TV Dramas, TV Thrillers"

In [49]:
#df2.head()

# Webscrapping des notes ImDB des 250 mieux notés films et séries

On crée une fonction qui met dans un data frame les notes des 250 mieux notés sur ImDB (films ou séries)

In [225]:
def recup_notes(url):

    """On récupère la page internet------------------"""
    from urllib import request
    request_text = request.urlopen(url).read()
    #print(request_text[:1000]) 
    page = bs4.BeautifulSoup(request_text, "lxml")
    #print(type(page))


    """On récupère les données------------------"""
    tableau=page.find("table",{'class' : 'chart full-width'})
    #print(tableau)
    table_body=tableau.find('tbody')
    rows = table_body.find_all('tr')
    #print (rows)


    """On récupére les élements correspondant au titre et à la note--------------"""
    new_rows=[] #on crée une liste vide dans laquelle on va mettre le contenu des lignes
    for row in rows:
        cols = row.find_all('td')
        #print(type(cols))
        new_cols = []
        for ele in cols:
            new_cols.append([ele.text.strip()])
        #print(new_cols)
        new_cols=new_cols[1:3]
        #new_cols_title=new_cols[0]
        new_cols[0]= new_cols[0][0]
        new_cols[1]= float(new_cols[1][0])
        new_rows.append(new_cols)
  #print (new_rows)

    """On nettoie les élements pour n'avoir que des listes de titres et notes"""
    """L'élement correspondant au titre est entouré d'informations parasites, on s'en
    débarasse avec 2 regex successives"""

    regex_debut = "[\d]?[\d]?[\d]\.[\n][\s]{6}"
    regex_fin="[\n]\([1-2][\d]{3}\)"

    clean_rows=copy.copy(new_rows)

    for i in range(len(new_rows)):
        a_suppr=re.findall(regex_debut,new_rows[i][0])
        #print (a_suppr[0])
        clean_rows[i][0]=new_rows[i][0].replace(a_suppr[0],"")
    #print (clean_rows)

    really_clean_rows=copy.copy(clean_rows)

    for i in range(len(clean_rows)):
        a_suppr_fin=re.findall(regex_fin,clean_rows[i][0])
        #print (a_suppr_fin[0])
        really_clean_rows[i][0]=clean_rows[i][0].replace(a_suppr_fin[0],"")
    #print (really_clean_rows)

    """On crée un dictionnaire dans lequel on met le contenu des lignes nettoyées
    L'index est le titre, la valeur la note."""
    dico_top = dict()
    for row in really_clean_rows:
        cols=row
        dico_top[cols[0]] = cols[1:]
    dico_top

    """On crée ENFIN le dataframe"""
    df_top = pd.DataFrame.from_dict(dico_top,orient='index')
  

    """"On rajoute une index différente du titre"""
    df_top.reset_index(level=0, inplace=True)

    """On change le nom des colonnes"""
    df_top.rename(columns={'index': 'Title', 0: 'IMDb rating'}, inplace=True)

    #print(df_top)
    return (df_top)

Test sur les 2 urls

In [51]:
url_top_shows = "https://www.imdb.com/chart/toptv/?ref_=nv_tvv_250"
url_top_movies= "https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [226]:
df_top_shows=recup_notes(url_top_shows)
df_top_shows
#problème : on a que 245 valeurs ...

                           Title  IMDb rating
0                Planet Earth II          9.5
1                  Planète Terre          9.4
2                 Frères d'armes          9.4
3                   Breaking Bad          9.4
4                      Chernobyl          9.4
..                           ...          ...
239                      Gobelin          8.4
240                    Wentworth          8.4
241                      Vikings          8.4
242  Unsere Mütter, unsere Väter          8.4
243             Bose: Dead/Alive          8.4

[244 rows x 2 columns]

In [53]:
df_top_movies=recup_notes(url_top_movies)
df_top_movies

                                  Title  IMDb rating
0                            Les évadés          9.2
1                            Le parrain          9.1
2               Le parrain, 2ème partie          9.0
3    The Dark Knight: Le chevalier noir          9.0
4                   12 hommes en colère          8.9
..                                  ...          ...
244                      Princess Bride          8.0
245                 La bataille d'Alger          8.0
246                          Mandarines          8.0
247                           Le cirque          8.0
248                          Terminator          8.0

[249 rows x 2 columns]

# Webscrapping du top 10 netflix journalier

#### Fonction qui récupère le dataframe quand on lui donne la date sous forme string "aaaa/mm/jj", url est un argument conditionnel.

In [318]:
def recup_top_netflix_gen(date,url="https://www.the-numbers.com/home-market/netflix-daily-chart/"):
    
    url_enrichi = url+date
    from urllib.request import Request, urlopen
    req_text = urlopen(Request(url_enrichi, headers={'User-Agent': 'Mozilla/5.0'})).read()
    page = bs4.BeautifulSoup(req_text, "lxml")
    #print (page)

    """On récupère les données------------------"""
    #tableau=page.find("table",{'class' : 'chart full-width'})
    tableau=page.find("div",{'id':'page_filling_chart'})
    #print(tableau)
    #table_body=tableau.find('tbody')
    #print(table_body)
    rows = tableau.find_all('tr')
    #print (rows)

  
    """On récupére tous les élements correspondant au titre et à la note et On crée un dictionnaire dans lequel on met le contenu des lignes nettoyées
    L'index est le titre, la valeur la note.
    --------------"""
    new_rows=[]#on crée une liste vide dans laquelle on va mettre le contenu des lignes
    new_cols = 10*[[]]
    dico_top_netflix = dict()
    i = 0
    for row in rows:
        cols = row.find_all('td') # c'est une liste
        cols = [ele.text.strip() for ele in cols]
        #print (cols)
        if len(cols)> 0:
            dico_top_netflix[cols[0]] = cols[1:]
    #print(dico_top_netflix)    

    """"""

    """On crée ENFIN le dataframe"""
    df_top_netflix_gen = pd.DataFrame.from_dict(dico_top_netflix,orient='index')

    """On rajoute une index différente du titre"""
    for row in rows:
        cols = row.find_all('th')
        #print(cols)
        if len(cols) > 0 : 
            cols = [ele.get_text(separator=' ').strip().title() for ele in cols]
            columns_title = cols
    #print (columns_title)
    

    """On change le nom des colonnes"""
    df_top_netflix_gen.columns=columns_title[1:]
    
    """On vire les colonnes qui ne nous intéresse pas"""
    del(df_top_netflix_gen['Yd'])
    del(df_top_netflix_gen['Lw'])
    del(df_top_netflix_gen['Watch Now'])
    
    #print ("Graph au "+ date)
    return (df_top_netflix_gen)

In [322]:
df=recup_top_netflix_gen("2020/05/05")
df

,Title,Type,Netflix Excl.,Netflix Release Date,Days In Top 10,Viewer- Ship Score
1,Outer Banks,TV Show,Yes,"Apr 15, 2020",16,134
2,Dangerous Lies,Movie,Yes,"Apr 30, 2020",5,48
3,Hollywood,TV Show,Yes,"May 1, 2020",3,21
4,Never Have I Ever,TV Show,Yes,"Apr 27, 2020",8,65
5,All Day and a Night,Movie,Yes,"May 1, 2020",4,22
6,Den of Thieves,Movie,,,3,13
7,Extraction,Movie,Yes,"Apr 24, 2020",9,69
8,Arctic Dogs,Movie,,,1,3
9,The Last Kingdom,TV Show,Yes,,9,41
10,Murder to Mercy: The Cyntoi…,Movie,Yes,"Apr 29, 2020",6,25

# Travail sur les genres

#### des essais peu efficaces mais que je garde au cas ou

In [ ]:
"""def clean(regex,contenu):
  sup=re.findall(regex,contenu)
  for i in range(len(sup)):
    print(i)
    contenu_clean=contenu.replace(sup[i],"")
    print(contenu_clean)
  return (contenu_clean)"""

In [ ]:
"""def clean_virg_esp(contenu):
  contenu_conca=clean("[\s]",contenu)
  contenu_conca=clean(",",contenu_conca)
  return (contenu_conca)"""

On crée une fonction de nettoyage générique.

In [ ]:
def clean(regex,contenu):
  sup=re.findall(regex,contenu)
  #print(sup)
  while len(sup)>0:
    contenu_clean=contenu.replace(sup[0],"")
    return (contenu_clean)
  else:
    return(contenu)

On crée une fonction qui vire tous les esapces et virgules dans 'listed_in', revient à concaténer le contenu de chaque cellule (pour simplifier la regex ensuite).

In [ ]:
def clean_virg_esp(contenu):
  contenu_conca=clean("[\s]",contenu)
  #print(contenu_conca)
  contenu_conca=clean(",",contenu_conca)
  #print(contenu_conca)
  return (contenu_conca)

On l'applique aux deux bases

In [ ]:
#df_tvshow['listed_in']=df_tvshow['listed_in'].apply(clean_virg_esp)
#df_tvshow.head()

In [ ]:
#df_movie['listed_in']=df_movie['listed_in'].apply(clean_virg_esp)
#df_movie.head()

In [ ]:
regex

In [ ]:
#print(essai)
essai = pd.DataFrame({'title': ["Avatar, la vie", "Chernobyl , histoire", "ta mere", "pourquoi Avatar","avata,r"], 'note': [2, 10, 9,8,5]})

essai['title']=essai['title'].apply(clean_virg_esp)
essai

## la version élégante

In [ ]:
#le fait que les types se combinent demande d'être moins bourrin
col = "listed_in"
grouped = df[col].value_counts().reset_index()
grouped

In [ ]:
liste2=["a", "ab", 5]
print (liste2)
liste2=liste2
print (liste2)

### count_genra(data_f)
fonction qui retourne un graph bar du nombre de titres (fils ou séries) classés dans chacun des x genres les plus populaires.

nombre : combien de genres on retient (max 22 pour les TV shows, 20 pour les films)

date : permet de changer la date dans le titre

internat: si différent de 1 omet le genre International (qui veut dire non-Américain)

In [324]:
def count_genra (data_f,nombre=22,internat=1,date="Netflix"):
  #on récupère les catégories
  col = "listed_in"
  categories = ", ".join(data_f['listed_in']).split(", ")
  #print (categories)

  if internat != 1:
    while "International TV Shows" in categories:
      categories.remove("International TV Shows")
    while 'International Movies' in categories:
      categories.remove('International Movies')

  #print(categories)

  #On compte le nombre d'occurences de chaque type et on garde les 50 qui apparaissent le plus souvent
  counter_list = co.Counter(categories).most_common(nombre)
  #print (type(counter_list_all))

  #On conserve le premier élément de chaque couple de counter_list (ie. sur le genre) et on inverse l'ordre de la liste
  labels = [_[0] for _ in counter_list][::-1]
  #print (labels)

  #Idem pour le nombre d'occurrences
  values = [_[1] for _ in counter_list][::-1]

  trace1 = go.Bar(y=labels, x=values, orientation="h", name="TV Shows", marker=dict(color="#a678de"))

  data = [trace1]
  layout = go.Layout(title="Content added on "+str(date), legend=dict(x=0.1, y=1.1, orientation="h"))
  fig = go.Figure(data, layout=layout)
  fig.show()

  return(trace1)

Appliqué à la base df_tvshow

In [325]:
count_genra(df_tvshow)

NameError: name 'go' is not defined

Appliqué à la base df_movie

In [ ]:
count_genra(df_movie)

### les genres dans le temps
Comme les séries sont enregistrées en tant que leur dernière saison sortie, l'analyse n'est probabelement pas pertinente.

A la limite on peut considérer que les séries qui ne sont pas arriver en 2020 sont celles qui n'ont pas eu de succès ?

A terme se focaliser sur les films.

In [ ]:
a_1=4
a_2=7
a_3=3 
a_4 = 9
liste= [a_1,a_2,a_3,a_4]
listes=[]
for i in range(1,5):
  listes.append()

In [ ]:
df_tvshow.sort_values("year_added")
#valeurs en 2008 puis 2012-2020

In [ ]:
df_tvshow_2008 = df_tvshow[df_tvshow['year_added'].isin([2008])]
df_tvshow_2009 = df_tvshow[df_tvshow['year_added'].isin([2009])]
df_tvshow_2010 = df_tvshow[df_tvshow['year_added'].isin([2010])]
df_tvshow_2011 = df_tvshow[df_tvshow['year_added'].isin([2011])]
df_tvshow_2012 = df_tvshow[df_tvshow['year_added'].isin([2012])]
df_tvshow_2013 = df_tvshow[df_tvshow['year_added'].isin([2013])]
df_tvshow_2014 = df_tvshow[df_tvshow['year_added'].isin([2014])]
df_tvshow_2015 = df_tvshow[df_tvshow['year_added'].isin([2015])]
df_tvshow_2016 = df_tvshow[df_tvshow['year_added'].isin([2016])]
df_tvshow_2017 = df_tvshow[df_tvshow['year_added'].isin([2017])]
df_tvshow_2018 = df_tvshow[df_tvshow['year_added'].isin([2018])]
df_tvshow_2019 = df_tvshow[df_tvshow['year_added'].isin([2019])]
df_tvshow_2020 = df_tvshow[df_tvshow['year_added'].isin([2020])]

In [ ]:
Liste=[df_tvshow_2012,df_tvshow_2013,df_tvshow_2014,df_tvshow_2015,df_tvshow_2016,df_tvshow_2017,df_tvshow_2018,df_tvshow_2019,df_tvshow_2020]
d = 2011
for i in Liste:
  d+=1
  count_genra(i,22,1,d)

In [ ]:
df_movie.sort_values("year_added")
#2008-2020

In [ ]:
df_movie_2008 = df_movie[df_movie['year_added'].isin([2008])]
df_movie_2009 = df_movie[df_movie['year_added'].isin([2009])]
df_movie_2010 = df_movie[df_movie['year_added'].isin([2010])]
df_movie_2011 = df_movie[df_movie['year_added'].isin([2011])]
df_movie_2012 = df_movie[df_movie['year_added'].isin([2012])]
df_movie_2013 = df_movie[df_movie['year_added'].isin([2013])]
df_movie_2014 = df_movie[df_movie['year_added'].isin([2014])]
df_movie_2015 = df_movie[df_movie['year_added'].isin([2015])]
df_movie_2016 = df_movie[df_movie['year_added'].isin([2016])]
df_movie_2017 = df_movie[df_movie['year_added'].isin([2017])]
df_movie_2018 = df_movie[df_movie['year_added'].isin([2018])]
df_movie_2019 = df_movie[df_movie['year_added'].isin([2019])]
df_movie_2020 = df_movie[df_movie['year_added'].isin([2020])]

In [ ]:
Liste = [df_movie_2008,df_movie_2009,df_movie_2010,df_movie_2011,df_movie_2012,df_movie_2013,df_movie_2014,df_movie_2015,df_movie_2016,df_movie_2017,df_movie_2018,df_movie_2019,df_movie_2020]
d=2007
for i in Liste:
  d+=1
  count_genra(i,22,0,d)