In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib
import bs4
import re
import copy
import collections as co

import plotly as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import init_notebook_mode
import matplotlib.pyplot as mplt



from wordcloud import WordCloud
from wordcloud import STOPWORDS
from PIL import Image
import requests
from io import BytesIO

In [88]:
df_carac = pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\df_carac.csv')
df_carac

                         Unnamed: 0     Type Netflix Exclusive  Score
0                       Outer Banks  TV Show               Yes    259
1              The Umbrella Academy  TV Show               Yes    231
2                           365 Dni    Movie                No    198
3         Avatar the Last Airbender  TV Show                No    196
4         The Haunting of Bly Manor  TV Show               Yes    177
..                              ...      ...               ...    ...
284                          Moesha  TV Show                No      1
285                      Sugar Rush  TV Show               Yes      1
286                    Sneakerheads  TV Show               Yes      1
287  The American Barbecue Showdown  TV Show               Yes      1
288              Indian Matchmaking  TV Show               Yes      1

[289 rows x 4 columns]

In [80]:
AS_N = pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\AS_N.csv')
AS_N

,Unnamed: 0,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform,Top IMDB
0,0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5,Netflix,1
1,1,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3,Netflix,1
2,2,Dark,2017,16+,8.8,95,"Crime,Drama",A missing child causes four families to help e...,3,Netflix,1
3,3,Sherlock,2010,16+,9.1,94,"Action & Adventure,Crime",A modern update finds the famous sleuth and hi...,4,Netflix,1
4,4,Better Call Saul,2015,18+,8.7,92,"Comedy,Crime",Six years before Saul Goodman meets Walter Whi...,5,Netflix,1
...,...,...,...,...,...,...,...,...,...,...,...
1422,1422,Ordinary Heroes,2013,NaN,NaN,10,"Documentary,2013",Ordinary Heroes is a 4 x 30'-part documentary ...,1,Netflix,0
1423,1423,Love Cheque Charge,2014,NaN,NaN,-1,"2014,Netflix",Love Cheque Charge has one or more episodes st...,1,Netflix,0
1424,1424,Truth,2012,NaN,NaN,-1,"2012,Netflix",Truth has one or more episodes streaming with ...,1,Netflix,0
1425,1425,Exclusive Edition,2008,NaN,NaN,-1,"2008,Netflix",Young journalists working for a magazine juggl...,1,Netflix,0
1426,1426,The Underwear,2017,NaN,NaN,-1,"2017,Netflix",The Underwear has one or more episodes streami...,1,Netflix,0

In [81]:
df_carac['Netflix Exclusive'].isin(['Yes']).sum()

174

In [82]:
df_carac['Netflix Exclusive'].isin(['No']).sum()

115

In [83]:
df_carac[df_carac['Netflix Exclusive'] == 'Yes']

                         Unnamed: 0     Type Netflix Exclusive  Score
0                       Outer Banks  TV Show               Yes    259
1              The Umbrella Academy  TV Show               Yes    231
4         The Haunting of Bly Manor  TV Show               Yes    177
5                        Dead to Me  TV Show               Yes    175
6                             Ozark  TV Show               Yes    169
..                              ...      ...               ...    ...
283    Game On! A Comedy Crossoverâ€¦  TV Show               Yes      1
285                      Sugar Rush  TV Show               Yes      1
286                    Sneakerheads  TV Show               Yes      1
287  The American Barbecue Showdown  TV Show               Yes      1
288              Indian Matchmaking  TV Show               Yes      1

[174 rows x 4 columns]

In [84]:
mean_Netflix_Excl = df_carac[df_carac['Netflix Exclusive'] == 'Yes']['Score'].mean()
mean_Netflix_Excl

25.701149425287355

In [85]:
mean_other = df_carac[df_carac['Netflix Exclusive'] == 'No']['Score'].mean()
mean_other

15.504347826086956

In [86]:
mean_all = df_carac['Score'].mean()
mean_all

21.643598615916954

On crÃ©e la colonne de boolÃ©ens 'Above Mean'

In [100]:
df_carac["Above Mean"]=0
for i in range (df_carac.shape[0]):
    if df_carac['Score'][i] >= mean_all:
        df_carac['Above Mean'][i]=True
    else :
        df_carac['Above Mean'][i]=False

C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Utilisateur\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [103]:
df_carac[df_carac['Netflix Exclusive'] == 'Yes']['Above Mean'].isin([True]).sum()

45

In [104]:
dico={'Netflix Exclusive': [df_carac['Netflix Exclusive'].isin(['Yes']).sum(),
                            df_carac[df_carac['Netflix Exclusive'] == 'Yes']['Above Mean'].isin([True]).sum(),
                            df_carac[df_carac['Netflix Exclusive'] == 'Yes']['Above Mean'].isin([False]).sum()],
     'Other': [df_carac['Netflix Exclusive'].isin(['No']).sum(),
                            df_carac[df_carac['Netflix Exclusive'] == 'No']['Above Mean'].isin([True]).sum(),
                            df_carac[df_carac['Netflix Exclusive'] == 'No']['Above Mean'].isin([False]).sum()]}

df_graph=pd.DataFrame.from_dict(dico,orient='index')
df_graph.columns=['Effectif','Above Mean','Below Mean']
df_graph.reset_index()
df_graph

                   Effectif  Above Mean  Below Mean
Netflix Exclusive       174          45         129
Other                   115          17          98

In [105]:
df_carac

,Unnamed: 0,Type,Netflix Exclusive,Score,hah,Above Mean
0,Outer Banks,TV Show,Yes,259,0,True
1,The Umbrella Academy,TV Show,Yes,231,0,True
2,365 Dni,Movie,No,198,0,True
3,Avatar the Last Airbender,TV Show,No,196,0,True
4,The Haunting of Bly Manor,TV Show,Yes,177,0,True
...,...,...,...,...,...,...
284,Moesha,TV Show,No,1,0,False
285,Sugar Rush,TV Show,Yes,1,0,False
286,Sneakerheads,TV Show,Yes,1,0,False
287,The American Barbecue Showdown,TV Show,Yes,1,0,False
288,Indian Matchmaking,TV Show,Yes,1,0,False

In [107]:
fig = px.bar(df_graph, x=df_graph.index, 
             y=['Above Mean','Below Mean'])

fig.update_layout(template = 'presentation',margin=dict(l=80, r=80, t=60, b=30),
                  title = { 'text' : '<b>SuccÃ¨s des Netflix Exclusive</b>', 'x' : 0.5},
                  xaxis_title="Type",
                  yaxis_title="Effectifs",
                  font_family = 'Calibri',title_font_color= 'black',
                  legend_title="Comparaison au score moyen",
                  legend=dict(yanchor="top", y=0.99, xanchor="right", x=0.8),
                  showlegend = True)
fig.show()